.ceoprofile{
    width:17%;
    height: 95%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ceoprofile img{
    width: 100%;
    height: 59%;
    /* object-fit: contain; */

}
.ceoprofile span{
    font-size: 18px;
    font-weight: 600;

}
.spanceo{
    font-size: small !important;
    color: rgb(123, 123, 123);
}
.medias{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: wheat; */
    width: 90%;
    height: 14%;
}
.medias img{
    width: 24px;
}

@media screen and (min-width: 600px) and (max-width: 700px) {
 
    .ceoprofile{
        width:23%;
    }   
    .medias img{
        width: 17px;
    }
    .ceoprofile span{
        font-size: 15px;
        font-weight: 600;
    
    }
    .spanceo{
        font-size: 10px !important;
        color: rgb(123, 123, 123);
    }
}