@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@100;400&display=swap');


.side-bar{
    width:14%;
    height: 100%;
    background-image:url('../Assets/Rectangle\ 1.png') ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.bagdiv{
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.bagdiv img{
    width: 40%;
}
.sideitems{
    width: 100%;
    height: 45%;
    /* background-color: azure; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    
}
.sidecontent{
    width: 70%;
    height: 13%;
    background-color: rgb(27, 32, 48);
    color: white;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
    cursor: pointer;
}
.sidecontent img{
    width: 19px;
}
.sidecontent span{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    
}
.sidecontent:hover{
    background-color: white;
    color: black;
    
}
.logout{
    width: 100%;
    height: 6%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.logout img{
    width: 15px;
}
.logout span{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: red;
    font-size: 13px;
}
.active1{
    background-color: white  !important;
    color: black !important;
}



@media screen and (max-width: 600px) {
   
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    .sidecontent{
        width: 80%;
    }
    .sidecontent img{
        width: 15px;
    }
    .sidecontent span{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 12px;
    }
    .logout img{
        width: 13px;
    }
    .logout span{
        font-size: 12px;
    }
    
  }

  @media screen and (min-width:800px) and (max-width: 1023px) {
    .sidecontent{
        width: 85%;
    }
    .sidecontent img{
        width: 13px;
    }
    .sidecontent span{
        font-family: 'Inter', sans-serif;
        font-weight: 2  00;
        font-size: 10px;
    }
    .logout img{
        width: 13px;
    }
    .logout span{
        font-size: 12px;
    }
    
  }

  @media screen and (min-width: 700px) and (max-width: 800px) {
    .side-bar{
        width: 10%;
    }
    .bagdiv img{
        width: 55%;
    }
    .sidecontent{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        gap: 0;
        width: 50%;
    }
    .sidecontent img{
        width: 17px;
    }
    .sidecontent span{
        display: none;
    }
    .logout img{
        width: 13px;
    }
    .logout span{
        font-size: 10px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 700px) {
    .side-bar{
        width: 10%;
    }
    .bagdiv img{
        width: 55%;
    }
    .sidecontent{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        gap: 0;
        width: 64%;
    }
    .sidecontent img{
        width: 17px;
    }
    .sidecontent span{
        display: none;
    }
    .logout img{
        width: 15px;
    }
    .logout span{
       display: none;
    }
  }
  @media screen and (min-width: 375px) and (max-width: 600px) {
    .side-bar{
        width: 13%;
    }
    .bagdiv img{
        width: 65%;
    }
    .sidecontent{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        gap: 0;
        width: 69%;
    }
    .sidecontent img{
        width: 14px;
    }
    .sidecontent span{
        display: none;
    }
    .logout img{
        width: 15px;
    }
    .logout span{
       display: none;
    }
  }
  @media screen and (min-width: 100px) and (max-width: 375px) {
    .side-bar{
        width: 13%;
    }
    .bagdiv img{
        width: 65%;
    }
    .sidecontent{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        gap: 0;
        width: 69%;
    }
    .sidecontent img{
        width: 14px;
    }
    .sidecontent span{
        display: none;
    }
    .logout img{
        width: 15px;
    }
    .logout span{
       display: none;
    }
  }